@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm font Inter như đặc tả  */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* Nền trắng tuyệt đối  */
}