@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn thanh cuộn nhưng vẫn cuộn được */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}